<html>
<head>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="growthLab">
  <div ng-controller="FlippyController" ng-init="setFlip('slide-flipped')">
    <div class="container text-center">
      <h1 style="color:white;">Flip Demo <p class="lead">{{flipStyle}} <small style="color:white;">({{speed}} milliseconds)</small></p></h1>
        <aside class="btn-group">
          <button type="button" class="btn btn-default" ng-click="setFlip('flipped')">Flip</button>
          <button type="button" class="btn btn-default" ng-click="setFlip('slide-flipped')">Slide Flip</button>
          <button type="button" class="btn btn-default" ng-click="changeCards()">Change Card Style</button>
        </aside>
        <span style="color:white;">Speed:</span> <input class="form-control" ng-model="speed" style="max-width: 100px;display: inline-block;">
        <br>
        <br>
        <div class="alert alert-danger" ng-hide="speed">
          <strong>Please specify a speed (like 1000)</strong>
        </div>
      <hr>
    </div>
    <div class="flippy-container">
      <div ng-repeat="card in cards" class="{{flipStyle}}">
        <section card-flip width="{{card.width}}" height="{{card.height}}" front="{{card.front}}" back="{{card.back}}" class="{{card.class}}" ng-click="flip($event)"></section>
      </div>
    </div>    
  </div>
  <br>
  <hr>
  <img src="img/goal.png" class="img-responsive">
  <script src="script.js"></script>
  <script src="//localhost:35729/livereload.js"></script>
</body>
</html>