<html>
<head>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/jquery.transit/jquery.transit.js"></script>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

</head>
<body ng-app="growthLab">
  <div ng-controller="SlideController">

    <header class="container text-center">
      <h1 style="color:white;">Slice demo</h1>
      <button type="button" class="btn btn-default" ng-click="changeCards()">Change Image Style</button>
      <hr>
      <br> 
    </header>

    <div class="slide-container">
      <div ng-repeat="card in cards">
        <section card-slide width="{{card.width}}" height="{{card.height}}" front="{{card.front}}" back="{{card.back}}" class="{{card.class}}"></section>
      </div>
    </div>    
  </div>
  <br>
  <hr>
  <img src="img/goal.png" class="img-responsive">
  <script src="script.js"></script>
  <script src="//localhost:35729/livereload.js"></script>
</body>
</html>