/* Presentation */
body {
  background: #00bba8;
}

/* Layout */
.flippy-container {
  position: relative;
}

.flippy-container section {
  position: absolute;
  display: inline-block;
  border: 2px solid #FFF;
}


.welcome-text {
  left: 0;
  bottom: 0;
}

.small-square-top {
  left: 44.6%;
  bottom: 13.4%;
}

.small-square-bottom {
  left: 44.6%;
  bottom: 0;
}

.chevron-up-right {
  right: 0;
  top: 0;
}

.document {
  right: 0;
  bottom: 0;
}

.binoculars {
  top: 18%;
  right: 27.25%;
}

.chart-left-empty {
  left: 0;
  top: 0;
}

.chart-icon {
  top: 0;
  left: 20%;
}

/* Actual code*/
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.card figure {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card .back {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.card .front, .card .back {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;    
}

.flipHolder {
  position: relative;
  background: #ffca30;
  width: 100%;
  height: 100%;
-webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
}
