/* Code for http://growthlab.studioissa.com positioning */
@media screen and (max-width: 960px) {
  .site-header {
    position: relative !important; } }

.home-section-1 {
  background: #00bba8;
  padding: 0; }
  .home-section-1 .wrap {
    max-width: 100%;
    padding: 0 !important; }

.home-section-2, .home-section-1 {
  margin-top: -4px; }
  @media screen and (max-width: 1180px) {
    .home-section-2, .home-section-1 {
      margin-top: -3px; } }

.parallax-home .site-inner {
  margin-top: 70px; }

/* Layout */
.slide-container {
  position: relative; }
  .slide-container section {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    border-color: #FFF;
    border-style: solid;
    border-width: 4px; }
    @media screen and (max-width: 1280px) {
      .slide-container section {
        border-width: 3px; } }

/* Positioning of each card */
.chart-left-empty {
  left: 11.7%;
  top: 0; }

.chart-left-empty-small {
  left: 0;
  top: 10%; }

.chart-left-subdued {
  left: 4.4%;
  top: 10%; }

.chart-icon {
  top: 0;
  left: 26.85%; }

.welcome-text {
  left: 11.7%;
  bottom: 0; }

.welcome-left-subdued {
  left: 0;
  bottom: 0; }

.small-square-top {
  left: 45.1%;
  bottom: 13.4%; }

.small-square-bottom {
  left: 45.1%;
  bottom: 0; }

.chevron-up-right {
  top: 0;
  right: 13.7%; }

.chevron-right-subdued {
  top: 30%;
  right: 0; }

.chevron-right-empty {
  bottom: 19.5%;
  right: 0; }

.document {
  bottom: 0;
  right: 13.7%; }

.document-right-bar {
  bottom: 0;
  right: 0; }

.binoculars {
  top: 18%;
  right: 33.5%; }
  @media screen and (max-width: 922px) {
    .binoculars {
      right: 33.6%; } }

/* Two small */
@media screen and (max-width: 922px) {
  .small-square-top, .small-square-bottom {
    left: 45%; } }

/* Big two icons right queries */
@media screen and (min-width: 1180px) {
  .chevron-up-right, .document {
    right: 13.56%; } }
@media screen and (min-width: 1080px) and (max-width: 1180px) {
  .chevron-up-right, .document {
    right: 13.62%; } }
@media screen and (min-width: 940px) and (max-width: 1079px) {
  .chevron-up-right, .document {
    right: 13.65%; } }
@media screen and (min-width: 922px) and (max-width: 939px) {
  .chevron-up-right, .document {
    right: 13.6%; } }
@media screen and (min-width: 847px) and (max-width: 891px) {
  .chevron-up-right, .document {
    right: 13.75%; } }
@media screen and (min-width: 640px) and (max-width: 840px) {
  .chevron-up-right, .document {
    right: 13.8%; } }

/* Far right row queries */
@media screen and (min-width: 1081px) {
  .chevron-right-empty, .chevron-right-subdued, .document-right-bar {
    right: 0.1%; } }
@media screen and (min-width: 924px) and (max-width: 1023px) {
  .chevron-right-empty, .chevron-right-subdued, .document-right-bar {
    right: -0.1%; } }
@media screen and (max-width: 923px) {
  .chevron-right-empty, .chevron-right-subdued, .document-right-bar {
    right: 0.2%; } }
@media screen and (min-width: 640px) and (max-width: 800px) {
  .chevron-right-empty, .chevron-right-subdued, .document-right-bar {
    right: 0.35%; } }

/* Teal boxes */
.chart-left-empty, .chart-left-empty-small, .chevron-right-empty {
  background-color: #00bba8; }
  .chart-left-empty .sliceHolder, .chart-left-empty-small .sliceHolder, .chevron-right-empty .sliceHolder {
    background-color: #00bba8; }

/* Actual code */
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .card figure {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: visible;
    backface-visibility: visible; }
  .card .front, .card .back {
    background-repeat: no-repeat;
    background-position: center center; }
  .card .front {
    z-index: 100;
    background-size: cover; }
  .card .back {
    background-size: 100% 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .card .back.hovered {
      background-size: 110% 110%; }

.slice-right {
  /* polygon to avoid weird slice lines */
  -webkit-clip-path: polygon(0% 0%, 0% 2%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 2%, 100% 100%, 100% 0%);
  -webkit-transform: translate(100%, -100%);
  -moz-transform: translate(100%, -100%);
  -ms-transform: translate(100%, -100%);
  -o-transform: translate(100%, -100%);
  transform: translate(100%, -100%);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
  .slice-right.hovered {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s; }

.slice-left {
  -webkit-clip-path: polygon(100% 100%, 100% 96%, 0% 0%, 0 100%);
  clip-path: polygon(100% 100%, 100% 96%, 0% 0%, 0 100%);
  -webkit-transform: translate(-100%, 100%);
  -moz-transform: translate(-100%, 100%);
  -ms-transform: translate(-100%, 100%);
  -o-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
  .slice-left.hovered {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out; }

.sliceHolder {
  position: relative;
  background: #ffca30;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=style.css.map */
