/* Cancel Jay's CSS */
.home-section-1 {
  background: #00bba8;
  padding: 0; }
  .home-section-1 .wrap {
    max-width: 100%;
    padding: 0 !important; }

.home-section-2 {
  margin-top: -4px; }
  @media screen and (min-width: 870px) and (max-width: 1180px) {
    .home-section-2 {
      margin-top: -3px; } }
  @media screen and (min-width: 567px) and (max-width: 869px) {
    .home-section-2 {
      margin-top: -2px; } }
  @media screen and (max-width: 566px) {
    .home-section-2 {
      margin-top: -1px; } }

/* Layout */
.slide-container {
  position: relative; }
  .slide-container section {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    border-color: #FFF;
    border-style: solid;
    border-width: 4px; }
    @media screen and (min-width: 870px) and (max-width: 1180px) {
      .slide-container section {
        border-width: 3px; } }
    @media screen and (min-width: 567px) and (max-width: 869px) {
      .slide-container section {
        border-width: 2px; } }
    @media screen and (max-width: 566px) {
      .slide-container section {
        border-width: 1px; } }

.welcome-text {
  left: 0;
  bottom: 0; }

.small-square-top {
  left: 44.6%;
  bottom: 13.4%; }

.small-square-bottom {
  left: 44.6%;
  bottom: 0; }

.chevron-up-right {
  right: 0;
  top: 0; }

.document {
  right: 0;
  bottom: 0; }

.binoculars {
  top: 18%;
  right: 27.2%; }

.chart-left-empty {
  left: 0;
  top: 0;
  background: #00bba8; }
  .chart-left-empty .sliceHolder {
    background: #00bba8; }

.chart-icon {
  top: 0;
  left: 20%; }

/* Actual code */
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .card figure {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: visible;
    backface-visibility: visible; }
  .card .front, .card .back {
    background-repeat: no-repeat;
    background-position: center center; }
  .card .front {
    z-index: 100;
    background-size: cover; }
  .card .back {
    background-size: 100% 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .card .back.hovered {
      background-size: 110% 110%; }

.slice-right {
  /* polygon to avoid weird slice lines */
  -webkit-clip-path: polygon(0% 0%, 0% 2%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 2%, 100% 100%, 100% 0%);
  -webkit-transform: translate(100%, -100%);
  -moz-transform: translate(100%, -100%);
  -ms-transform: translate(100%, -100%);
  -o-transform: translate(100%, -100%);
  transform: translate(100%, -100%); }

.slice-left {
  -webkit-clip-path: polygon(100% 100%, 100% 96%, 0% 0%, 0 100%);
  clip-path: polygon(100% 100%, 100% 96%, 0% 0%, 0 100%);
  -webkit-transform: translate(-100%, 100%);
  -moz-transform: translate(-100%, 100%);
  -ms-transform: translate(-100%, 100%);
  -o-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%); }

.sliceHolder {
  position: relative;
  background: #ffca30;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=style.css.map */
