@import "bower_components/bourbon/dist/bourbon"
@import "bower_components/sass-mediaqueries/media-queries"

$darkTeal: #00bba8

/* Code for http://growthlab.studioissa.com positioning */

.site-header
  +max-screen(960px)
    position: relative !important

.home-section-1
  background: $darkTeal
  padding: 0
  .wrap
    max-width: 100%
    padding: 0 !important

.home-section-2, .home-section-1
  margin-top: -4px
  +max-screen(1180px)
    margin-top: -3px

.parallax-home .site-inner
  margin-top: 70px

/* Layout */
.slide-container
  position: relative
  
  section
    position: absolute
    display: inline-block       
    overflow: hidden
    border-color: #FFF
    border-style: solid
    border-width: 4px
    +max-screen(1280px)
      border-width: 3px

/* Positioning of each card */

.chart-left-empty
  left: 11.7%
  top: 0

.chart-left-empty-small
  left: 0
  top: 10%

.chart-left-subdued
  left: 4.4%
  top: 10%

.chart-icon
  top: 0
  left: 26.85%

.welcome-text
  left: 11.7%
  bottom: 0

.welcome-left-subdued
  left: 0
  bottom: 0

.small-square-top
  left: 45.1%
  bottom: 13.4%

.small-square-bottom
  left: 45.1%
  bottom: 0

.chevron-up-right
  top: 0
  right: 13.7%

.chevron-right-subdued
  top: 30%
  right: 0
  
.chevron-right-empty
  bottom: 19.5%
  right: 0
  
.document
  bottom: 0
  right: 13.7%

.document-right-bar
  bottom: 0
  right: 0

.binoculars
  top: 18%
  right: 33.5%
  +max-screen(922px)
    right: 33.6%

/* Two small*/
.small-square-top, .small-square-bottom
  +max-screen(922px)
    left: 45%

/* Big two icons right queries*/
.chevron-up-right, .document
  +min-screen(1180px)
    right: 13.56%
  +screen(1080px, 1180px)
    right: 13.62%
  +screen(940px, 1079px)
    right: 13.65%
  +screen(922px, 939px)
    right: 13.6%
  +screen(847px, 891px)
    right: 13.75%
  +screen(640px, 840px)
    right: 13.8%

/* Far right row queries */
.chevron-right-empty, .chevron-right-subdued, .document-right-bar
  +min-screen(1081px)
    right: 0.1%
  +screen(924px, 1023px)
    right: -0.1%
  +max-screen(923px)
    right: 0.2%
  +screen(640px, 800px)
    right: 0.35%

/* Teal boxes */
.chart-left-empty, .chart-left-empty-small, .chevron-right-empty
  background-color: $darkTeal

  .sliceHolder
    background-color: $darkTeal


/* Actual code */
.card
  width: 100%
  height: 100%
  position: absolute
  +transform-style(preserve-3d)

  figure
    display: block
    position: absolute
    height: 100%
    width: 100%
    +backface-visibility(visible)

  .front, .back
    background-repeat: no-repeat
    background-position: center center

  .front
    z-index: 100
    background-size: cover

  .back
    background-size: 100% 100%
    +transition(all 0.3s ease-out)
    &.hovered
      background-size: 110% 110%

.slice-right
  $weirdPolygon: 0% 0%, 0% 2%, 100% 100%, 100% 0%
  // offset triangle $weirdPolygon: 18% 0%, 100% 0%, 100% 100%
  /* polygon to avoid weird slice lines */
  -webkit-clip-path: polygon($weirdPolygon)
  clip-path: polygon($weirdPolygon)
  +transform(translate(100%, -100%))
  +transition(all 0.4s ease-in)
  &.hovered
    +transform(translate(0%, 0%))
    +transition(all 0.6s ease-out)
    +transition-delay(0.3s)

.slice-left
  $weirdPolygon: 100% 100%, 100% 96%, 0% 0%, 0 100%
  // offset triangle  $weirdPolygon: 0% 0%, 18% 0, 100% 100%, 0% 100%
  -webkit-clip-path: polygon($weirdPolygon)
  clip-path: polygon($weirdPolygon)
  +transform(translate(-100%, 100%))
  +transition(all 0.4s ease-in)
  &.hovered
    +transform(translate(0%, 0%))
    +transition(all 0.6s ease-out)

.sliceHolder
  position: relative
  background: #ffca30
  width: 100%
  height: 100%